.gradle-temp/
**/build/
out/
# IntelliJ
.idea/
*.iml

# Gradle
.gradle/
build/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Godot
client/godot/.godot/
client/godot/moondrasil-online/Main.gd.uid

# Node
node_modules/
dist/

# Env
.env
.env.*